<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

   	 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/darkly/bootstrap.min.css" crossorigin="anonymous">
<style>
select {
    background: white;
    color:black;
}
</style>
	</head>

	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SecureWitness</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/mainpage">Home</a></li>
        <li><a href="/mainpage/myReports">My Reports</a></li>
        <li><a href="/mainpage/publicReports">Public Reports</a></li>
        <li><a href="#">Messages</a><li>
        <li><a href="#">Download our app</a><li>

      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Github link</a></li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Upload form. Note enctype attribute! -->

		<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="bs-component">
					<div class="panel panel-success">
						<div class="panel-heading">
							Edit Report
						</div>
		<div class="panel-body">
		<form action="{% url "editreport" %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="idofreport" value="{{ idofreport }}">
			Edit Form: <br />
			<p>
				Name (required): {{ form.name }} <br /> <br />
				Folder: {{ form.folder }} <br /> <br />
				Short Description (required): {{ form.sd }} <br /> <br />
				Long Description (required): {{ form.ld }} <br /> <br />
				Public: {{ form.public }} <br /> <br />
		</br>
				Latitiude: {{form.lat }} <br />
				<br/>
				Longitude: {{form.lon }} <br />
			</p>
			</p>
			<p><input type="submit" value="Update" /></p>
		</form>
		Documents: </br > <br />
		{% for document in documents %}
			<form action="{% url "deletedocument" %}" method="post" enctype="multipart/form-data" style="display: inline;">
			{% csrf_token %}
			<input type="hidden" name="idofreport" value="{{ idofreport }}">
			<input type="hidden" name="idofdoc" value="{{ document.id }}">
			<input type="submit" value="Delete">

			{% if document.encrypted %}
				{{ document.name }} (Encrypted)
			{% else %}
				<a href="{{ document.docfile.url }}">{{ document.name }}</a>
			{% endif %}
			</form>
			</br >
			<br />
			</br >

		{% endfor %}
			</br > <br />
			</br > <br />
		<h4>Upload File:</h4> </br > 
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "uploaddocument" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="idofreport" value="{{ idofreport }}">
			Document Name: <input type="text" name="docname"><br>
			{{ uploadform.non_field_errors }}
				{{ uploadform.docfile.errors }}  <br />
				{{ uploadform.docfile }} <br />
			<input type="checkbox" name="encrypt"> Encrypted<br>
			<br>
			<p><input type="submit" value="Upload" /></p>
		</form>
	</div>
</div>
</div>
</div>
</div>
</div>
	</body>

</html> 
