<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/darkly/bootstrap.min.css" crossorigin="anonymous">
	</head>

	<body>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- List of uploaded documents -->
		<p> There should be a form below here 
		<form action="{% url "addreport" %}" method="post"
		enctype="multipart/form-data" style="display: inline;">
		{% csrf_token %}
		<input type="hidden" name="newreportid">

		<input type="submit" value="Add">

			</form>
			</p>


		{% if reports %}
			<ul>
			{% for report in reports %}
				<p>
				Report Title: {{ report.name }} </br >
				<form action="{% url "editreport" %}" method="post" enctype="multipart/form-data" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="idofreport" value="{{ report.id }}">
				<input type="submit" value="Edit"> 
				</form>
				
				<form action="{% url "deletereport" %}" method="post" enctype="multipart/form-data" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="idofreport" value="{{ report.id }}">
				<input type="submit" value="Delete"> 
				</form>

				</br>
				Folder: {{ report.folder }} </br >
				Date created: {{ report.timestamp }} </br >
				Short Description: {{ report.sd }} </br >
				Documents </br >
				{% for document in report.document_set.all %}
					<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
					{% if document.encrypted %}
						Encrypted
					{% else %}
					{% endif %}
					</li>
				{% endfor %}
				</br >
				</p>
			{% endfor %}
			</ul>
		{% else %}
			<p>No reports.</p>
		{% endif %}
	</body>
</html>
