<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/darkly/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

<body>

	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SecureShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/mainpage/myReports">My Reports</a></li>
        <li><a href="/mainpage/publicReports">Public Reports</a></li>
        <li><a href="/mainpage/myGroups">My Groups </a> </li>
        <li><a href="/messages/">Messages</a><li>
        <li><a href="/mainpage/profile">User profile </a></li>
       	{% if request.user.is_staff %}
       	<li><a class="btn btn-md btn-primary" href="/siteadmin/"> Site Admin </a></li>
       	{% endif %}
        <li><a href="/mainpage/logout">Logout</a><li>


      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Github link</a></li>
      </ul>
    </div>
  </div>
</nav>


{% if request.user.is_active %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="container">
<div class="bs-docs-section">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers"> SecureShare </h1>
		</div>
	</div>
<div class="row">
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>My Reports</h4>
		</div>
		<div class="panel-body">
			<p> All reports are stored as encrypted files, and cannot
				be viewed by anyone other than yourself, unless you 
				explicitly mark it as 'public'.
			</p>
			<p class="bs-component">
			<a href="/mainpage/myReports" class="btn btn-success"> View My Reports </a>
		</p>
		</div>
		</div>
	</div>
</div>
<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>Public Reports</h4>
		</div>
		<div class="panel-body">
			<p> Public reports are intended for the spread of ideas and actions through a secured measure. We protect your identity while proliferating your views.
			</p>
			<p class="bs-component">
			<a href="/mainpage/publicReports" class="btn btn-success"> View Public Reports</a>
		</p>
		</div>
		</div>
	</div>
</div>
<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>Messaging System</h4>
		</div>
		<div class="panel-body">
			This feature will be coming soon!
		</div>
		</div>
	</div>
</div>

<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>Stand-alone Application</h4>
		</div>
		<div class="panel-body">
			<p> This feature will be coming soon!
			</p>
			
		</div>
		</div>
	</div>

</div>


{% if request.user.is_staff %}
<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-info">
				<div class="panel-heading">

			<h4>Site Admin</h4>
		</div>
		<div class="panel-body">
			<p> Since you are a site admin, you can visit the admin page or use the site normally as a user
			</p>
			
			<p class="bs-component">
			<a href="/siteadmin/" class="btn btn-success"> Go to Admin Page</a>
		</p>
		</div>
		</div>
	</div>
	
</div>
{% endif %}



</div>

</div>


{% else %}

<div class="container">
	<div class="Jumbotron">
		<div class="well">
		This account has been suspended. You may not send messages, create new reports, or create new groups. You may still view or delete your own reports
	</div>
	</div>
</div>
{% endif %}

<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="https://fierce-scrubland-6270.herokuapp.com/myapplication" data-text="Just found an awesome new secure file sharing system!" data-via="SecureShare" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>

</body>

</html>
