<!DOCTYPE html>
<html lang="en">
  <head>
        {% load postman_tags %}

    <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/darkly/bootstrap.min.css" crossorigin="anonymous">
  </head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SecureShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/mainpage">Home</a></li>
        <li ><a href="/mainpage/myReports">My Reports</a></li>
        <li><a href="/mainpage/publicReports">Public Reports</a></li>
        <li class="active"><a href="/mainpage/myGroups">My Groups<span class="sr-only">(current)</span> </a> </li>

<li><a href="/messages/">Messages{% postman_unread as unread_count %} {% if unread_count %} <span class="badge">{{ unread_count }}{% endif %} </span></a><li>        <li><a href="/mainpage/profile">User profile </a></li>
        {% if request.user.is_staff %}
        <li><a class="btn btn-md btn-primary" href="/siteadmin/"> Site Admin </a></li>
        {% endif %}
        <li><a href="/mainpage/logout">Logout</a><li>

      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Github link</a></li>
      </ul>
    </div>
  </div>
</nav>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="container">
<h1> My groups </h1>
{% if request.user.is_active %}
<h4> Any user can be added to a group by you </h4>

<form action="/uploader/addgroup">
        <input class="btn btn-success btn-lg" type="submit" value="Create a new group">
        </form>
</br>
</br>
{% if groups %} 
  

   <ul>
     {% for group in groups %}
     {% if user.username = group.creator or user in group.permissions.all %}
     <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <div class="panel panel-primary">
           <div class="panel-heading"> 
         <a class="btn btn-md btn-danger" href='/uploader/{{group.name}}'>{{ group.name }} </a>
        &nbsp;
       
      </div>
      <div class="panel-body">
        Users:
        {% for guy in group.permissions.all %}
          <ul> User Name: {{ guy.username }}</ul>


        {% endfor %}
        <br />
        Reports:
        {% for report in group.reports.all %}
          <ul> Short Description: {{ report.sd }}</ul>

        {% endfor %}
        </br >
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
        
     {% endfor %}

</ul>

{% else %}
   <p> No groups available. </p>

{% endif %}
{% else %}
<h4> Suspended accounts cannot view groups </h4>
{% endif %}

<p class="bs-component">
<a href="/mainpage" class="btn btn-info"> Go back to main page </a>
</p>
</div>

<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>

</html>