<!DOCTYPE html>
<html>
<head>
<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
</head>
<body>
<div>


<form action="{% url 'django.contrib.auth.views.login' %}" method='POST'> {% csrf_token %}
    <div >
        <label for='username'> Username </label>
        <input type='text' name='Username' id='username'>
        <label for='password'>Password </label>
        <input type='password' name='Password' id='password'>
        <input type='submit' value='login'>
    </div>

</form>
</div>
</body>
</html>
