<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

   	 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SecureWitness</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/siteadmin">Home</a></li>
        <li><a href="/siteadmin/users">User List</a></li>
        <li class="active"><a href="/siteadmin/admins">Admins</a></li>
        <li><a href="/mainpage/logout">Logout</a><li>


      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Github link</a></li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Upload form. Note enctype attribute! -->
<h1> User: {{user_name }} {% if not user.is_active %} (This account is suspended) {% endif %} </h1>
{% if reports %} 
  
  
  {% if not user.is_active %}
  <form action="{% url "suspendaccount" user_name %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="idofreport" value="{{ idofreport }}">
      
      <p><input class="btn btn-success btn-lg" type="submit" value="Unsuspend user" /></p>
    </form>

    {% else %}
<form action="{% url "unsuspendaccount" user_name %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="idofreport" value="{{ idofreport }}">
      
      <p><input class="btn btn-warning btn-lg" type="submit" value="Suspend user" /></p>
    </form>

    {% endif %}

   <ul>
     {% for report in reports %}
     
     {% if report.user == user_name %}
     <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <div class="panel panel-primary">
           <div class="panel-heading"> 
        Report Title: {{ report.name }} 
        &nbsp;
        &nbsp;
        <form action="{% url "deletereport" %}" method="post" enctype="multipart/form-data" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="idofreport" value="{{ report.id }}">
        <input class="btn btn-danger btn-sm" type="submit" value="Delete"> 
        </form>
      </div>
      <div class="panel-body">
        
        </br>
        Folder: {{ report.folder }} </br >
        Date created: {{ report.timestamp }} </br >
        Short Description: {{ report.sd }} </br >
        Documents </br >
        {% for document in report.document_set.all %}
          <ul><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></ul>

        {% endfor %}

        </br >
      </div>
    </div>
  </div>
</div>
</div>
    {% endif %}
        
     {% endfor %}

</ul>

{% else %}
   <p> SiteAdmin is having soem problems. </p>

{% endif %}

		
	</body>

</html> 
