<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css" crossorigin="anonymous">
  </head>

<body>

	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SecureShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/siteadmin/users">User List</a></li>
        <li><a href="/siteadmin/admins">Admins</a></li>
        <li><a href="/siteadmin/groups">Groups</a><li>
        <li><a href="/mainpage/logout">Logout</a><li>

      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Github link</a></li>
      </ul>
    </div>
  </div>
</nav>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="container">
<div class="bs-docs-section">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers"> SecureShare Admin Panel</h1>
		</div>
	</div>
<div class="row">
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>User List</h4>
		</div>
		<div class="panel-body">
			<p> The User List lets you quickly see all of the accounts created on the site. Clicking on a user will bring up all information that pertains to that user. You can also suspend and un-suspend accounts from this page.
			</p>
			<p class="bs-component">
			<a href="/siteadmin/users" class="btn btn-success"> View User List </a>
		</p>
		</div>
		</div>
	</div>
</div>
<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>Group List</h4>
		</div>
		<div class="panel-body">

			<p> The Group List lets you quickly see all active groups on the site. Clicking on a group will bring up all reports associated with that group. You have the authority to add any user to any group.
			</p>
			<p class="bs-component">
			<a href="/siteadmin/groups" class="btn btn-success"> View Group List</a>
		</p>
		</div>
		</div>
	</div>
</div>
<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-primary">
				<div class="panel-heading">

			<h4>Admins</h4>
		</div>
		<div class="panel-body">
			Need help being an administrator? Go here to add more administrators to the roster. Note: Once you add an administrator, they have the same privileges as you and can add more administrators.
</br>
</br>
		<a href="/siteadmin/admin" class="btn btn-success"> Add more admins</a>

		</div>
		</div>
	</div>
</div>

<div class="col-lg-6">
		<div class="bs-component">
		<div class="panel panel-info">
				<div class="panel-heading">

			<h4>Regular Site</h4>
		</div>
		<div class="panel-body">
			Click here to go back to the regular site, where you can interact as a normal user
		</br>
			<a href="/mainpage/" class="btn btn-info"> Visit Regular Site</a>

		</div>
		</div>
	</div>
</div>



</div>

</div>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>

</html>
