<!DOCTYPE html>
<html>
<head>
<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
</head>
<body>
<div>
<form action="{% url 'django.contrib.auth.views.login' %}" method='POST'> {% csrf_token %}
    <div >
        {{form.username.label_tag}}
        {{form.username}}

        {{form.password.label_tag}}
        {{form.password}}
        <input type='submit' value='login' />
        <input type='hidden' name = 'next' value="{% url 'success' %}"/>
    </div>
</form>
</div>
</body>
</html>
